{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Закупки {{product_name}}</h1>
      {% if request.user.is_client == False %}
      <a class="btn btn-primary btn-sm" href="{% url 'addproductsmeta' product_id=product_id %}">Добавить чек</a> 
      {% endif %}
    </div>
    
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if request.user.is_client == False %}
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/procurement/{{product_slug}}">Все</a>
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/procurement/{{product_slug}}/Оплатил/">Оплаченные</a>
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/procurement/{{product_slug}}/Не оплатил/">Не оплаченные</a>
    {% endif %}
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-danger btn-sm" href="{% url 'procurementpdf' product_slug %}">PDF Закупки</a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col-1">№:</th>  
            <th scope="col-1">Чек:</th>
            <th scope="col-1">Наименование:</th>
            <th scope="col-1">Описание:</th>
            <th scope="col-1">Кто добавил:</th>
            <th scope="col-1">Дата создания:</th>
            <th scope="col-1">Поставщик:</th>
            {% if request.user.is_client == False %}
            <th scope="col-1">Статус оплаты</th>
            {% endif %}
            <th scope="col-1">Цена:</th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>

            {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        {% if product.image %}
                            <a href="/media/{{product.image}}">Чек {{product.name}}</a>
                        {% endif %}
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.discription}}</td>
                    <td>{{product.author.email}}</td>
                    <td>{{product.date_create}}</td>
                    <td>{{product.provider}}</td>
                    {% if request.user.is_client == False %}
                    <td>{{product.payment_status}}</td>
                    {% endif %}
                    <td>{{product.price}} ₽</td>
                    {% if request.user.is_client == False %}
                    <td><a class="btn btn-primary btn-sm" href="{% url 'updateproductsmeta' product.id %}"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'deleteproductsmeta' product.id %}"><i class="bi bi-trash"></i></a></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                {% if request.user.is_client == False %}
                  <td></td>
                  {% endif %}
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>Итого:</b></td>
                  <td><b>{{sum.price__sum}} ₽</b></td>
                  <td></td>
                  <td></td>
                </tr>
            
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


