{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Поступление {{product_name}}</h1>
      {% if request.user.is_client == False %}
      <a class="btn btn-primary btn-sm" href="{% url 'addreceipts' product_id=product_id %}">Добавить поступление</a>
      {% endif %}
    </div>
     <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <a style="margin-right: 10px;" class="btn btn-danger btn-sm" href="{% url 'receiptspdf' product_slug %}">PDF Поступления</a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col-1">№:</th>  
            <th scope="col-1">Наименование:</th>
            <th scope="col-1">Кто добавил:</th>
            <th scope="col-1">Дата создания:</th>
            <th scope="col-1">Цена:</th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>

            {% for receipt in receipts %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{receipt.name}}</td>
                    <td>{{receipt.author.email}}</td>
                    <td>{{receipt.date_create}}</td>
                    <td>{{receipt.price}} ₽</td>
                    {% if request.user.is_client == False %}
                        <td><a class="btn btn-primary btn-sm" href="{% url 'updatereceipts' receipt.id %}"><i class="bi bi-pencil-square"></i></a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'deletereceipts' receipt.id %}"><i class="bi bi-trash"></i></a></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td><b>Итого:</b></td>
                  <td><b>{{sum.price__sum}} ₽</b></td>
                  <td></td>
                  <td></td>
                </tr>
                
            
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


