{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h1 class="h2">Услуги {{product_name}}</h1>
      {% if request.user.is_client == False %}
      <a class="btn btn-primary btn-sm" href="{% url 'addsevice' product_id=product_id %}">Добавить услугу</a>
      {% endif %}
    </div>
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if request.user.is_client == False %}
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/sevice/{{product_slug}}">Все</a>
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/sevice/{{product_slug}}/Оплатил/">Оплаченные</a>
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/sevice/{{product_slug}}/Не оплатил/">Не оплаченные</a>
    {% endif %}
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-danger btn-sm" href="{% url 'sevicepdf' product_slug %}">PDF Услуги</a>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col-1">№:</th>  
            <th scope="col-1">Наименование:</th>
            <th scope="col-1">Кто добавил:</th>
            <th scope="col-1">Дата создания:</th>
            <th scope="col-1">Количество:</th>
            <th scope="col-1">Процент наценки:</th>
            <th scope="col-1">Цена за ед. изм.:</th>
            <th scope="col-1">Цена за все:</th>
            <th scope="col-1">Сумма наценки:</th>
            {% if request.user.is_client == False %}
            <th scope="col-1">Статус оплаты:</th>
            {% endif %}
            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>

            {% for servic in service %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{servic.name}}</td>
                    <td>{{servic.author.email}}</td>
                    <td>{{servic.date_create}}</td>
                    <td>{{servic.count}} {{servic.meas}}</td>
                    <td>{{servic.procent}} %</td>
                    <td>{{servic.price}} ₽</td>
                    <td>{{servic.price_all}} ₽</td>
                    <td>{{servic.price_procent}} ₽</td>
                    {% if request.user.is_client == False %}
                    <td>{{servic.payment_status}}</td>
                    <td><a class="btn btn-primary btn-sm" href="{% url 'updatesevice' servic.id %}"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'deletesevice' servic.id %}"><i class="bi bi-trash"></i></a></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>Итого:</b></td>
                  <td><b>{{price_all.price_all__sum}} ₽</b></td>
                  <td><b>{{price_procent.price_procent__sum}} ₽</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


