{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{product.name}}</h1>
      <a class="btn btn-primary btn-sm" href="{% url 'updateproduct' product.id %}"><i class="bi bi-pencil-square"></i></a>
    </div>
    <div class="table-responsive">
    {% if product.image %}  
      <img class="img-fluid img-thumbnail" width="50%" src="/media/{{product.image}}" alt="{{product.name}}">
    {% endif %}
    <p>
      Автор: {{product.author}}
    </p>
    <p>
      Описание: {{product.discription}}
    </p>
    <p>
      Статус: <b>{{product.status}} ({{product.sklad}})</b>
    </p>
    <p>
      Дата содания: <b>{{product.date_create}}</b>
    </p>
    <p>
      Дата заказа: <b>{{product.date_order}}</b>
    </p>
    <p>
      Дата поставки: <b>{{product.date_shipment}}</b>
    </p>
    <p>
      Количество: <b>{{product.count}} {{product.meas}}</b>
    </p>
    <p>
      Цена: <b>{{product.price}} ₽</b>
    </p>
    <p>
      Цена за все: <b>{{product.sum_price_count}} ₽</b>
    </p>
    <p>
      Предоплата: <b>{{product.prepayment}} ₽</b>
    </p>
    <p>
      Остаток: <b>{{product.remains}} ₽</b>
    </p>
    </div>
  </main>
{% endblock %}


