{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Продукты</h1>
      <a class="btn btn-primary btn-sm" href="{% url 'addproduct' %}">Добавить продукт</a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col-1">№ id</th>
            <th scope="col-2">Наименование</th>
            <th scope="col-4">Количество</th>
            <th scope="col-3 ">Цена за шт</th>
            <th scope="col-3 ">Дата создания</th>
            <th scope="col-3 ">Дата заказа</th>
            <th scope="col-3 ">Стату</th>
            <th scope="col-3 ">Автор</th>


            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td><a href="{% url 'productdetele' product.id %}">{{product.name}}</a></td>
                    <td>{{product.complectation.}}</td>
                    <td>{{product.price}} р.</td>
                    <td>{{product.date_create}}</td>
                    <td>{{product.date_order}}</td>
                    <td>в пути</td>
                    <td>{{product.author}}</td>


                    <td><a class="btn btn-success btn-sm" href="">Редактировать</a></td>
                    <td><a class="btn btn-danger btn-sm" href="">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


