{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">Продукты комлектаций {{product_name}}</h1>
      {% if request.user.role == "Дизайнер" %}
        <a class="btn btn-primary btn-sm" href="{% url 'addproduct' product_id=product_id %}">Добавить продукт</a>
      {% endif %} 
    </div>
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/{{product_slug}}">Все</a>
    {% for group in groups %}
      <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-dark btn-sm" href="/{{product_slug}}/{{group.slug}}">{{group.name}}</a>
    {% endfor %}
    {% if grouppdf %}
        <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-danger btn-sm" href="/product-pdf/{{product_slug}}/{{grouppdfslug}}">PDF {{grouppdf}}</a>
    {% else %}
        <a style="margin-right: 10px; margin-top: 5px;" class="btn btn-danger btn-sm" href="{% url 'productpdf' product_slug %}">PDF</a>
    {% endif %}
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col-1">№:</th> 
            <th scope="col-1">Картинка:</th>
            <th scope="col-1">Наименование:</th>
            <th scope="col-1">Дата заказа:</th>
            <th scope="col-1">Дата поставки:</th>
            <th scope="col-1">Статус товара:</th>
            <th scope="col-1 ">Количество:</th>
            <th scope="col-1 ">Цена:</th>
            <th scope="col-1 ">Цена за все:</th>
            <th scope="col-1 ">Предоплата:</th>
            <th scope="col-1 ">Остаток:</th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>

            {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td style="width: 20%;">
                        {% if product.image %}
                            <a href="{% url 'productdetele' product.id %}"><img width="50%" class="img-fluid img-thumbnail" src="/media/{{product.image}}" alt="{{product.name}}"></a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'productdetele' product.id %}">{{product.name}}</a></td>
                    <td><span
                      style = "
                        {% if product.status == 'Не заказано' %}
                          {% if product.date_order < date_now %}
                            background-color: red;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% elif  product.date_order < date_plus %}
                            background-color: yellow;
                            color:  black;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% endif %}
                        {% endif %} 
                      "
                    >{{product.date_order}}</span></td>
                    <td><span
                      style = "
                        {% if product.status == 'В пути' %}
                          {% if product.date_shipment < date_now %}
                            background-color: red;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% elif  product.date_shipment < date_plus %}
                            background-color: yellow;
                            color:  black;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% endif %}
                        {% endif %}
                      "
                    >
                      {{product.date_shipment}}</td>
                    <td><span
                    style = "
                    {% if product.status == 'На складе' %}
                        background-color: green;
                        color: white;
                        font-weight: bold;
                        padding: 3px 5px;
                        border-radius: 6px;
                    {% endif %}
                  "
                    >{{product.status}}</span></td>
                    <td>{{product.count}} {{product.meas}}</td>
                    <td>{{product.price}} ₽</td>
                    <td>{{product.sum_price_count}} ₽</td>
                    <td>{{product.prepayment}} ₽</td>
                    <td>{{product.remains}} ₽</td>
                    {% if request.user.is_client == False %}
                    <td><a class="btn btn-primary btn-sm" href="{% url 'updateproduct' product.id %}"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'deleteproduct' product.id %}"><i class="bi bi-trash"></i></a></td>
                    {% endif %}
                  </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>Итого:</b></td>
                  <td><b>{{sum.sum_price_count__sum}} ₽</b></td>
                  <td><b>{{prepayment.prepayment__sum}} ₽</b></td>
                  <td><b>{{remains.remains__sum}} ₽</b></td>
                  <td></td>
                  <td></td>
                </tr>
            
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


