{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% if messages %}
         {{ message }}
    {% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Все комплектации</h1>
      {% if request.user.is_staff %}
        <a class="btn btn-primary btn-sm" href="{% url 'addcomplect' %}">Добавить комплектацию</a> 
      {% endif %}
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-hover ">
        <thead>
          <tr>
              <th scope="col-2">Наименование:</th>
            {% if request.user.is_staff or request.user.role == "Клиент" %}
              <th scope="col-1">Приход:</th>
              <th scope="col-1">Закупки:</th>
              <th scope="col-1">Услуги:</th>
              <th scope="col-1">Баланс средств:</th>
              <th scope="col-1">Процент:</th>
            {% endif %}
            {% if not request.user.is_staff and request.user.role == "Сотрудник" %}
              <th scope="col-1">Адрес:</th>
              <th scope="col-1">Телефон:</th>
            {% endif %}
            {% if request.user.is_staff %}
              <th scope="col-1"></th>
              <th scope="col-1"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for complectation in complectations %}
                <tr>
                    <td><a href="{% url 'productfromcomplet' complectation.slug %}">Комплектация {{complectation.name}}</a></td>
                     {% if request.user.is_staff or request.user.role == "Клиент" %}
                      <td><a href="{% url 'listreceipts' complectation.slug %}">Приход {{complectation.name}}</a></td>
                      <td><a href="{% url 'productsmetafromcomplet' complectation.slug %}">Закупки {{complectation.name}}</a></td>
                      <td><a href="{% url 'listsevice' complectation.slug %}">Услуги {{complectation.name}}</a></td>
                      <td>
                      <span
                      style = "
                          {% if complectation.balance < 0 %}
                            background-color: red;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% elif  complectation.balance >= 0 %}
                            background-color: green;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% endif %} 
                      "
                    > 
                      {{complectation.balance}} ₽
                    </span>
                      </td>
                      <td><span
                      style = "background-color: #000;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;">{{complectation.procent}} ₽</span></td>
                      {% endif %}
                      {% if not request.user.is_staff and request.user.role == "Сотрудник" %}
                        <td>{{complectation.adress}}</td>
                        <td>{{complectation.phone}}</td>
                     {% endif %}
                    {% if request.user.is_staff %}
                        <td><a class="btn btn-primary btn-sm" href="{% url 'updatecomplect' complectation.slug %}"><i class="bi bi-pencil-square"></i></a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'deletecomplect' complectation.slug %}"><i class="bi bi-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </tbody>
      </table>
      
    </div>
    {% if request.user.is_staff %}
       <div class="container" style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 15rem; margin-top: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Сумма балансов -</h5>
                    <p class="card-text">
                        <span
                                      style = "
                                          {% if saldo < 0 %}
                                            background-color: red;
                                            color: white;
                                            font-weight: bold;
                                            padding: 3px 5px;
                                            border-radius: 6px;
                                          {% elif  saldo >= 0 %}
                                            background-color: green;
                                            color: white;
                                            font-weight: bold;
                                            padding: 3px 5px;
                                            border-radius: 6px;
                                          {% endif %} 
                                      "
                                    >
                            {{saldo}} ₽
                            </span>
                    </p>
                  </div>
    </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 15rem; margin-top: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Сумма балансов +</h5>
                    <p class="card-text">
                        <span
                                      style = "
                                          {% if plus_bal < 0 %}
                                            background-color: red;
                                            color: white;
                                            font-weight: bold;
                                            padding: 3px 5px;
                                            border-radius: 6px;
                                          {% elif  plus_bal >= 0 %}
                                            background-color: green;
                                            color: white;
                                            font-weight: bold;
                                            padding: 3px 5px;
                                            border-radius: 6px;
                                          {% endif %} 
                                      "
                                    >
                            {{plus_bal}} ₽
                            </span>
                    </p>
                  </div>
    </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 15rem; margin-top: 15px;">
      <div class="card-body">
        <h5 class="card-title">Сумма процентов</h5>
        <p class="card-text">
            <span
                           style = "background-color: #000;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;"
                        >
                {{proc}} ₽
                </span>
        </p>
      </div>
    </div>
            </div>
            
            
        </div>
    </div>
    {% endif %}

  </main>
{% endblock %}


