{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% if messages %}
         {{ message }}
    {% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ task.title }}</h1>
        {% if request.user.is_staff %}
            <a class="btn btn-primary btn-sm" href="{% url 'addtask' %}">Добавить задачу</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <h5>Описание:</h5>
                <p>{{ task.description }}</p>
            <h5>Примечание:</h5>
                <p>{{ task.explanations }}</p>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary btn-sm" href="">Оставить примечание</a>
                        <a class="btn btn-success btn-sm" href="">Выполнено</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </main>
{% endblock %}


