{% extends "base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% if messages %}


         {{ message }}


    {% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Задачи</h1>
        {% if request.user.is_staff %}
            <a class="btn btn-primary btn-sm" href="{% url 'addtask' object_id user_id %}">Добавить задачу</a>
        {% endif %}
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-hover ">
        <thead>
          <tr>
              <th>Имя задачи:</th>
              <th>Сроки:</th>
              <th>Статус:</th>
              {% if request.user.is_staff %}
                  <th></th>
                  <th></th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'singletask' task.id %}">
                            {{task.title}}
                        </a>{% if task.explanations != None %}
                                📢
                            {% endif %}
                        </td>
                        <td><span style = "
                                {% if task.status == "В ходе выполнения" %}
                                    {% if task.date <= date_now%}
                                        background-color: red;
                                        color: white;
                                        font-weight: bold;
                                        padding: 3px 5px;
                                        border-radius: 6px;
                                      {% endif %}
                                {% endif %}
                      ">{{task.date}}</span></td>
                        <td><span style = "
                          {% if task.status == "В ходе выполнения" %}
                            background-color: yellow;
                            color: black;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% else %}
                            background-color: green;
                            color: white;
                            font-weight: bold;
                            padding: 3px 5px;
                            border-radius: 6px;
                          {% endif %}
                      ">{{task.status}}</span></td>
                        {% if request.user.is_staff %}
                        <td><a class="btn btn-primary btn-sm" href="{% url 'updatetask' task.id %}"><i class="bi bi-pencil-square"></i></a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'deletetask' task.id %}"><i class="bi bi-trash"></i></a></td>
                        {% endif %}
                    </tr>

            {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}


